<!DOCTYPE html>
<html>
<head>
    <title>Sensor Logger</title>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

<div class="container-fluid">
  <div class="jumbotron">
    <h2>Sensor Logger</h2>
  </div>
</div>
<div class="container" style="width:80%;">
    <div id="left" style="float:left; width:70%;" class="row">
        <div class="row">
            <button id="startbutton" type="button" class="btn btn-primary" onclick="start_capture();">Start Data Capture</button>
            <button id="stopbutton" type="button" class="btn btn-primary" onclick="stop_capture();">Stop Data Capture</button>
        </div>
        <div class="row">
            <h3>Data list:</h3>
            <div id="log"></div>
        </div>
    </div>

    <div id="right" style="float:right; width:30%;" class="row">
        <div class="row">
            <a id="downloadbutton" class="btn btn-primary" href="{{ url_for('autoindex') }}" target="_blank">Download Files</a>
        </div>
        <p>
        </p>        
        
        <div class="row">
            <button id="shutdownPibutton" type="button" class="btn btn-primary" onclick="Shutdown_Pi();">Shutdown Pi3</button>
            <button id="deletefilesbutton" type="button" class="btn btn-danger" onclick="delete_all_files();">Delete all files</button>
        </div>
        <div class="row">
            <h3>Application log:</h3>
            <button id="setupbutton" type="button" class="btn btn-primary" onclick="setup_logging();">Setup Logger</button>
            <button id="shutdownbutton" type="button" class="btn btn-primary" onclick="shutdown();">Shutdown Logger</button>
            <div id="applog"></div>
        </div>
    </div>
</div>


<!--TODO add app log window-->
</body>
</html>
